<configuration>
    <appender name="LogFile" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\Zain2\IdeaProjects\InventoryManagementSystem\LogFile.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} _%msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="LogFile"/>
    </root>
</configuration>